.content {
    padding: 70px 0px;
    background-color: rgba(232, 235, 247, 0.6);
}

.contentSign {
    width: 500px;
    padding: 40px;
    position: relative;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.welcome {
    font-family: Lato;
    font-weight: 900;
    color: #12214b;
    letter-spacing: -1px;
    line-height: 1;
    font-size: 48px;
}

.gradient_fight {
    background-image: linear-gradient(to right, #8860d0, #5580e9 61%, #5ab8eb), linear-gradient(#f7f3ea, #f7f3ea);
    font-family: Lato;
    font-weight: 900;
    letter-spacing: -0.9px;
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 1;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
}

@media (max-width: 1200px) {
    .contentSign {
        width: 400px !important;
    }
}

@media (max-width: 767px) {
    .contentSign {
        width: 90% !important;
        padding: 20px !important;
    }
    .content {
        padding: 30px 0 !important;
    }
}

.close,
.close:hover {
    border: 1px solid #dddddd;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 1;
    width: 30px;
    height: 30px;
}

.close {
    opacity: 0.5;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 13px;
    top: 4px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #555;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.text {
    font-family: Exo;
    font-size: 19px;
    line-height: 1.35;
    letter-spacing: -0.1px;
    color: #31323d;
}

.wal_address,
.hash {
    background-color: #eee;
}

.text1 {
    background-color: #dc0048;
    padding: 20px 35px;
    color: white;
    font-size: 16px;
    line-height: 1.38;
    /* margin: 30px 0; */
}

.signBtn {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1.2px;
    background-image: linear-gradient(to right, #8860d0, #5580e9 54%, #5ab8eb);
}

.signBtn:hover {
    background-image: linear-gradient(to top, #12214b, #3a316c);
}

.diamond {
    width: 50%;
    margin: 15px auto;
}