.head {
  background-color: #12214b;
  box-shadow: 0 0 46px 0 rgba(0, 0, 0, 0.1);

  .network,
  .network_text {
    vertical-align: -webkit-baseline-middle;
  }

  .network_text {
    font-size: 20px;
  }

  .logo {
    margin-right: 30px;
  }

  @media (min-width: 1551px) {
    .logo {
        width: 280px;
    }

    .connect {
        height: 37px;
        width: 308px;
    }

    .navbar-collapse {
        font-size: 18px;
    }

    .connect_id {
        padding-left: 50px;
    }

    .connect_text {
        padding:0px 14px;
    }

    .nav-item {
        /* margin-top: 4px; */
        margin-left: 48px;
    }

    .sign {
        padding: 5px 34px;
    }
  }

  @media (max-width: 1550px) {
    .logo {
      width: 235px;
      margin-right: 0px !important;
    }

    img.network {
      width: 35px;
    }

    .network_text {
      font-size: 16px !important;
    }

    .connect {
      height: 30px;
      width: 250px;
    }

    .navbar-collapse {
      font-size: 16px;
    }

    .connect_id {
      padding-left: 34px;
    }

    .connect_text {
      padding:0 14px;
    }

    .nav-item {
      margin-top: 4px;
      margin-left: 24px;
    }

    .sign {
      padding: 5px 30px;
    }
  }

  @media (max-width: 1200px) {
    .logo {
      width: 215px;
    }

    .navbar-brand {
      margin-right: 10px;
    }

    .connect {
      height: 30px;
      width: 226px;
    }

    .connect_id {
      padding-left: 30px;
    }

    .connect_text {
      padding:0 7px;
    }

    .nav-item {
      margin-top: 0px;
      margin-left: 0px;
    }

    .sign {
      padding: 5px 25px;
    }
  }

  @media (max-width: 1199px) {
    .connect {
      margin: unset !important;
    }
  }

  @media (max-width: 767px) {
    .logo {
      width: 180px;
    }

    .footer-content {
      font-size: 1rem !important;
    }
  }

  @media (max-width: 576px) {
    nav {
      display: block !important;

      .navbar-toggler {
        position: absolute;
        top: 20px;
        right: 10px;
      }
    }
  }

  nav {
    ul {
      font-family: Lato;
      color: #ffffff;
    }
  }

  .navbar-nav {
    .nav-link {
      color: white;

      &:hover {
        color: #02c2f3 !important;
        font-weight: 800;
      }

    }
  }

  .connect {
    color: white;
    background: url('./../../../../public//img/box-connect.png') no-repeat;
    background-size: contain;
    margin-left: 20px;
  }

  .connect_id {
    color: #02c2f3;
  }

  .network {
    color: #fff;

    .network-dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
    }

    .network-status {
      display: inline-block;
      margin-left: 0.4rem;
    }

    &.bad {
      .network-dot {
        background-color: red;
      }
    }

    &.okay {
      .network-dot {
        background-color: #72fD32;
      }
    }
  }
}
