.content {
    text-align: center;
    padding: 100px 0px;
    background: url(../img/background.png);
}

#kittieNum {
    width: 100%;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    border-radius: 30px 30px 0 0;
    letter-spacing: normal;
    font-size: 30px;
    background-image: linear-gradient(to right, #f07739, #e85256 54%, #e3366b);
}

.user {
    line-height: 3;
    font-size: 20px;
}

.card {
    border: none;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.card-head {
    padding: 10px;
}

.card-body {
    padding: 0px;
    background-color: white;
}

.card-footer {
    padding: 15px 45px 30px 45px;
    background-color: white;
    border-radius: 0 0 30px 30px !important;
    border: none;
}

.kittieBtn {
    width: calc(100% - 40px);
    float: left;
    padding: 10px;
    color: white;
    border: none;
    font-size: 20px;
    /* cursor: pointer; */
    font-family: Lato;
    font-weight: bold;
    border-radius: 10px;
    background-color: #b8bcd8;
}

.progress-bar {
    background-image: linear-gradient(to right, #f07739, #e85256 54%, #e3366b);
}

.info {
    text-align: right;
    padding-top: 10px;
}

.fontColor {
    color: #b0a9c9;
}

.info img {
    width: 25px;
}

.buy {
    padding: 30px;
    border-radius: 5px;
    color: #fff;
    line-height: 1.7;
    font-size: 18px;
    height: 100%;
    background-color: #12214b;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.buy img {
    margin-top: 26px;
    width: 30px;
}

#buyBar_1,
#buyBar_2 {
    font-size: 22px;
}

.text {
    line-height: 1.8;
    padding: 15px 0;
}

.btn_1 {
    color: white;
    border-radius: 10px;
    border: solid 3px #adb5d2;
    background-color: transparent;
    padding: 6px;
    text-align: center;
    cursor: pointer;
}

#genes:hover,
.btn_2 span:hover {
    color: #02c2f3;
}

.btn_2 {
    background: linear-gradient(to right, #f07739, #e85256 54%, #e3366b);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 3px;
    text-decoration: none;
}

.btn_2 span {
    color: white;
    background: #12214b;
    display: block;
    padding: 6px;
    border-radius: 7px;
}

.buyBtn {
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: Lato;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    background-color: #b8bcd8;
}


/* 
.buyBtn:hover {
    background-image: linear-gradient(to right, #f07739, #e85256 54%, #e3366b);
} */

@media (max-width: 991px) {
    .offset-1 {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .buy {
        margin-top: 50px;
        height: auto !important;
    }
    .card-footer {
        padding: 0px 30px 30px 30px !important;
    }
    .content {
        padding: 30px 0 !important;
    }
}

@media (max-width: 1199px) {
    .card-body>img {
        height: 326px;
    }
    .buy {
        padding: 20px 30px !important;
        font-size: 16px !important;
    }
    .buy img {
        margin-top: 25px !important;
    }
    #buyBar_1,
    #buyBar_2,
    .buyBtn {
        font-size: 20px !important;
    }
    #kittieNum {
        font-size: 24px !important;
    }
    .card-footer {
        padding: 15px 20px;
    }
    .user {
        font-size: 20px !important;
    }
}

@media(min-width: 1200px) {
    .card-footer {
        padding: 15px 45px 30px 45px;
    }
}

.kat-photo-container {
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    padding-bottom: 15px;
    line-height: 1;
}

.kat-photo {
    /* height: 90% !important; */
    max-width: 90%;
}